<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.timetson.theheartofegypt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:name=".modules.TheHeartOfEgypt"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/app_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".widgets.EgyptianCalenderWidget"
            android:label="Egyptian calender">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/egyptian_calender_widget_info" />
        </receiver>


        <receiver
            android:name=".widgets.WordOfTheDayAppWidgetProvider"
            android:label="@string/string_word_title_coptic">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/word_of_the_day_appwidget_info" />
        </receiver>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6579187224300708~7033040652" />

        <activity android:name=".Splash">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:launchMode="singleInstance" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".WordActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".DialectsActivity" />
        <activity android:name=".ReferencesActivity" />
        <activity android:name=".BohiricMenuActivity" />
        <activity android:name=".SahidicMenuActivity" />
        <activity android:name=".BohiricAboutActivity" />
        <activity android:name=".SahidicAboutActivity" />
        <activity android:name=".IntroductionActivity" />
        <activity android:name=".BohiricLettersListActivity" />
        <activity android:name=".SahidicLettersListActivity" />
        <activity android:name=".BohiricLetterDisplayActivity" />
        <activity android:name=".SahidicLetterDisplayActivity" />
    </application>

</manifest>